body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: linear-gradient(to bottom,#D1C8A9,transparent);
	background-repeat: no-repeat;
    background-size: 100%;

}
button {
	/* basics */
	color: #ffffff;
	background-color: #95A195;
	/* rounded corners */
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip:padding;
	-webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;
	margin: 5px;
}

footer{
  text-align: center;
  text-size: .75em;
	clear: both;
}

li {
	list-style-type: none;
}

#header {
	padding: 10px;
	text-align: right;
}

a:link, a:visited {
	 color:#375C1C;
	 text-decoration: none;
	 }
a:active, a:hover {
	 color:#E9F7ED;
	 text-decoration:none;
	 }

.selected {
	font-size: 1.5em;
	font-style: italic;
    text-shadow: 2px 2px 2px #657565 ;
}

.hard,
.medium,
.easy {
	margin-right: 20px;
	padding: 5px 10px;
	border: 2px solid #95A195;
	color: rgba(255,255,255, .7);
}

 #menu {
 	background-image:linear-gradient(to left, #95A195, #BBC9BB );
 	float:right;
 	text-align: right;
    box-shadow: 5px 5px 20px;
    margin: 10px;
 }

#menu ul{
 	display: inline;
    background-image:linear-gradient(to left, #95A195, #BBC9BB );


 	}
#menu li {
	display:inline;
	margin-left:60px;
	margin-right:20px;
	}


#leftColumn{
	position: relative;
	width: 200px;
    height: auto;
	float: left;
	margin: 10px 25px;
	background-image:linear-gradient(to left, #95A195, #BBC9BB );
	padding:15px;
    box-shadow: 5px 5px 10px;

}

#main {
  padding: 20px;
}

#location {
	text-align:center;
	clear: both;
}

#contact {
	margin: 45px;
    float: right;
}

footer a p:hover {
	color: #60ad48;
}

#game {
    margin: 0 auto;
}

.theSpellingList  {
	float: right;
	padding: 25px;
	background-color: #95A195;
	color: #000000;
	display: block;
	margin: 20px;
}

/

.theSpellingList h3 {
  background-color: #95A195;
  display: block;
}

#listSpelling1 {
		list-style: none;
    background-color: #000000;
    background-image: none;
}

#listSpelling1:hover {
  background-color: #95A195;
  background-image: none;
}



#2 {
	display: none;
    max-width: 900px;
}

#mixupLetters {
	display:none;
    max-width: 900px;
}

#learningTitle {
	margin: 20px;
    padding: 20px;
}

#win_game {
	display:none;
	font-size: 6em;
	color: #0cb729;
	transition: display 5s;
}

#win_game p {
	text-shadow: 5px 5px #5e5f60;
}

#listSpelling2 {
	list-style: none;
	background-color: #000000;
	background-image: none;
}

#listSpelling2:hover {
	background-color: #95A195;
  background-image: none;
}

#missLetterWord {
  background-color: transparent;
}

#missLetterWord input {
  list-style: none;
  display: inline-block;
  margin:5px;
  padding: 10px;
  font-size: 2em;
  border: 2px solid black;
  background: #D1C8A9;
  max-width: 20px;
  max-height: 20px;
}

#missLetterDiv {
	display: none;
}

#mixupLetters .boxToMove {
	list-style: none;
  display: inline-block;
  margin:5px;
  padding: 10px;
  font-size: 2em;
  border: 2px solid black;
  background: #D1C8A9;
  max-width: 20px;
  max-height: 20px;
}




.group:after {
  content: "";
  display: table;
  clear: both;
}

.difficultySelect {
  display: none;
}


#spellTitle {
  padding: 10px;
}

.imagegallery li {
  list-style-type: none;
  display: inline-block;
  margin: 15px;
  padding: 5px;

}

#overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	margin-top: 10%;
	padding-bottom: 10%
}

#overlay img {
	margin-top: 10%;
	max-width: 90%;
	max-height: 90%;
}

#overlay p {
	color: white;
	font-size: 1.5em;
}

.blogpost {
	margin: 3%;
	padding: 3%;
	background-image:linear-gradient(to left, #95A195, #BBC9BB );
	clear: right;
	display: none;
}

#jrfblog {
	clear:right;
	margin-top: 10%;
	margin-left: 20%;
	padding-left: 20%;

}

.blogTitle {
	decoration: none;
	display: block;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #375C1C;
}

.blogTitle:hover {
	color: black;
}

#show_score {
	font-size: 0.5em;
	text-shadow: none;
}


@media handheld and (min-width: 20em), screen and (min-width: 20em) {


	.blogTitle {
		decoration: none;
		display: block;
		margin: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 5em;
		color: #375C1C;
	}













 }
