body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	background-image: linear-gradient(to bottom,#D1C8A9,transparent);            
	background-repeat: no-repeat;
    background-size: 100%;
    
    
}
button {
	/* basics */
	color: #ffffff;
	background-color: #95A195;
	/* rounded corners */
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip:padding; 
	-webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;
	margin: 5px;
}

footer{
  text-align: center;
  text-size: .75em;
}

iframe {
  margin: 10px;  
  float: right;
  box-shadow: 5px 5px 10px;
}





#header {
	padding: 10px;	
	text-align: right;	
}

a:link, a:visited {
	 color:#375C1C;
	 text-decoration: none; 
	 } 
a:active, a:hover {
	 color:#E9F7ED;
	 text-decoration:none; 
	 }

.selected {
	font-size: 1.5em;
	font-style: italic;
    text-shadow: 2px 2px 2px #657565 ;
}

.hard,
.medium,
.easy {
	margin-right: 20px;
	padding: 5px 10px;
	border: 2px solid #95A195;
	color: rgba(255,255,255, .7);
}

 #menu {
 	background-image:linear-gradient(to left, #95A195, #BBC9BB );
 	float:right; 	
 	text-align: right;
    box-shadow: 5px 5px 20px;
    margin: 10px;
 }

#menu ul{
 	display: inline; 	
    background-image:linear-gradient(to left, #95A195, #BBC9BB );
 	
 	
 	}
#menu li {
	display:inline;
	margin-left:60px;
	margin-right:20px;     
	}
	

#leftColumn{	
	position: relative;
	width: 200px;
    height: auto;
	float: left;
	margin: 10px 25px;
	background-image:linear-gradient(to left, #95A195, #BBC9BB );
	padding:15px;
    box-shadow: 5px 5px 10px;
	
}

#main {
  padding: 20px;
}

#location {
	text-align:center;
	clear: both;
}

#contact {
	margin: 45px;    
    float: right;    
}

#game {
    margin: 0 auto;
}

.theSpellingList  {
	float: right;
	padding: 25px;
	background-color: #000000;
	color: #000000;
	display: block;
	margin: 20px;
}

.theSpellingList:hover {
	background-color: #95A195;
}

.theSpellingList h3 {
  background-color: #95A195;
  display: block;
}

#listSpelling1 {	
	list-style: none;
    background-color: #000000;
    background-image: none;
}

#listSpelling1:hover {
  background-color: #95A195;
  background-image: none;
}

#listSpelling1 li {	
	background-color: transparent;
	display: block;		
}

#missingLetters2 {
	display: none;
    max-width: 900px;
}

#mixupLetters {
	display:none;
    max-width: 900px;
}

#learningTitle {
	margin: 20px;
    padding: 20px;
}

#listSpelling2 {	
	background-color: inherit;
	list-style: none;
}

#missLetterWord {
  background-color: transparent;
}

#missLetterWord li {
  list-style: none;
  display: inline-block;
  margin:10px;
  padding: 15px;
  font-size: 2.5em;
  border: 2px solid black;
  background: #D1C8A9;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

.difficultySelect {
  display: none;
}

